<div class="card">
    <img 
        class="card-img-top" 
        [src]="product.imageUrl" 
        width="300" 
        height="200"
        *ngIf="product.imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'USD'}}</p>
        <div class="card-footer" *ngIf="isBtnVisible">
            <button 
                class="btn btn-primary btn-block"
                (click)="addToCart()"
                *ngIf="getQuantity() === 0 else updateQuantity">
                Add to cart
            </button>
            <ng-template #updateQuantity>
                <div class="row no-gutters">
                    <div class="col-2">
                        <button 
                            class="btn btn-primary btn-block"
                            (click)="removeFromCart()">-</button>
                    </div>
                    <div class="col text-center my-auto">
                        {{ getQuantity() }} in cart
                    </div>
                    <div class="col-2">
                        <button 
                            class="btn btn-primary btn-block"
                            (click)="addToCart()">+</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>