<div class="card">
    <img 
        class="card-img-top" 
        [src]="product.imageUrl" 
        width="300" 
        height="200"
        *ngIf="product.imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'USD':'true'}}</p>
        <div class="card-footer" *ngIf="isBtnVisible">
            <button 
                class="btn btn-primary btn-block"
                (click)="addToCart(product)">
                Add to cart
            </button>
            <div>{{ getQuantity() }}</div>
        </div>
    </div>
</div>