<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New product</a>
</p>
<p>
    <input 
        #query
        (keyup)="filter(query.value)"
        type="text" 
        class="form-control" 
        placeholder="Search...">
</p>

<mat-table #table [dataSource]="filteredProducts">
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="$key">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <a [routerLink]="['/admin/products/', element.$key]">Edit</a> 
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>