<div class="row">
    <div *ngFor="let p of products$ | async; index as i">
        <div class="col">
            <div 
                class="card" 
                style="width: 18rem; margin-bottom: 20px;">
                <img class="card-img-top" [src]="p.imageUrl" width="350" height="250">
                <div class="card-body">
                    <h5 class="card-title">{{p.title}}</h5>
                    <p class="card-text">{{p.price | currency:'USD':'true'}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>